<form action="/user/login" method="post">
    <input type="text" name="mail" id="" placeholder="mail">
    <input type="password" name="password" id="" placeholder="password">
    <input type="submit" value="login">
</form>
<a href="http://localhost:8080/user/register/github">Loguearse con github</a>