<form action="/user/register" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="mail" id="" placeholder="mail"> 
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" id="" placeholder="password">
    <input type="submit" value="register">
</form>