<div class="chat-container">
    <div class="chat" id="chatBox">

    </div>
    <div class="input-container">
      <input type="text" placeholder="Escribe tu mensaje..." id="input">
      <button onclick="sendMessage()">Enviar</button>
    </div>
</div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/scripts.js"></script>